@model EZKARAPP.Models.taskhil

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>taskhil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gfname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gfname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qadamasli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qadamasli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qadampeli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qadampeli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taqaroribtidayi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taqaroribtidayi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rooz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rooz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inwaanbast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inwaanbast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reyasatmarboot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reyasatmarboot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mooyinat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mooyinat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.markaziwalayati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.markaziwalayati)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mamoorkaarkon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mamoorkaarkon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jinsiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jinsiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.darajatahseel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.darajatahseel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reshtatahseel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reshtatahseel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roobamoqarari)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roobamoqarari)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saalmoqarari)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saalmoqarari)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poorkhaali)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poorkhaali)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saaltawalood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saaltawalood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roobarzyaabi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roobarzyaabi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arzyaabiimtehaani)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arzyaabiimtehaani)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roobarzyaabiimtehaani)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roobarzyaabiimtehaani)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarikharzyaabi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarikharzyaabi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shoomratamaas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shoomratamaas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nawimaash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nawimaash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meeqdarmaash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meeqdarmaash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarikhakhzmaash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarikhakhzmaash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maahakhzmaash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maahakhzmaash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.molahezat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.molahezat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
